*, html, body {margin: 0;padding: 0;}
a:visited,a:link,a:active{color: #333333;}
/*a:hover{color: #ed4259;}*/
a, a:hover, a:focus { cursor:pointer; text-decoration: none; }
:focus { outline: none; }
button, button:focus, input[type=text], input[type=text]:focus { outline: none }
ul {list-style: none;}
ul>li {cursor: pointer;}
.no-select { user-select:none; -ms-user-select:none; -moz-user-select:none; -webkit-user-select:none; }
