#index {
    width: 100%;
}
/* top 一行 */
.top-nav {
    height: 36px;
    border-bottom: 1px solid #e5e5e5;
    background: #f7f7f7;
}
.top-nav>div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.top-nav>div>div {
    float: left;
    padding: 9px 7px;
    line-height: 1.4285;
    font-weight: lighter;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
}

/* log 部分 */
.log-wrapper {
    width: 100%;
    height: 84px;
    padding-bottom: 8px;
    overflow: hidden;
    display: block;
    box-sizing: content-box;
    background-color: #f7f7f7;
}
.log-row {
    width: 1200px;
    margin: 0 auto;
    user-select:none;
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    background-color: #f7f7f7;
}
.log-row>div {
    width: 33.33%;
    float: left;
}
.log-row>div>a>img {
    height: 90px;
}
/* 搜索 */
.log-search {
    width: 100%;
    height: 90px;
    margin: 0 auto;
}
.search-group {
    width: 100%;
    height: 46px;
    margin: 24px auto auto;
    display: inline-block;
}
.search-group>input {
    width: 300px;
    height: 38px;
    padding: 0 8px;
    font-size: 14px;
    color: #333333;
    border: #bf2c24 solid 1px;
    display: table-cell;
    position: relative;
    white-space: nowrap;
}
.search-group>span {
    margin-left: -9px;
}
.search-group>span button {
    width: 43px;
    height: 43px;
    cursor: pointer;
}
.search-group>span>button {
    color: #fff;
    border: none;
    text-align: center;
    position: relative;
    background-color: #bf2c24;
}
.search-group>span>button:hover {
    background-color: #ed4259;
}

/* 首页导航 */
.main-nav-wrapper {
    height: 40px;
    z-index: 30;
    position: relative;
    background-color: #3e3d43;
}
.main-nav-wrapper>div {
    width: 1200px;
    height: 40px;
    margin: 0 auto;
}
.main-nav-wrapper>div>ul>li {
    float: left;
}
.main-nav-wrapper>div>ul>li:first-child {
    width: 222px;
    height: 40px;
    position: relative;
    margin-right: 36px;
    background-color: #313035;
}
.main-cat {
    margin: 10px 20px;
    color: #f7f7f7;
}
.main-cat>i {
    width: 26px;
    height: 20px;
    margin: 10px auto;
    color: #f7f7f7;
    font-size: 18px;
}
li.nav-li {
    width: 120px;
    height: 36px;
    line-height: 34px;
    text-align: center;
    transition: none;
}
li.nav-li>a {
    margin: 16px auto;
    color: #f7f7f7;
}
li.nav-li:hover {
    background-color: #252428;
    border-top: 2px solid #ed4259;
    border-bottom: 2px solid #252428;
}

/* 首页 焦点 */
.main-wrapper {
    width: 100%;
    zoom: 1;
    padding-bottom: 8px;
    overflow: hidden;
}
.main-wrapper>div {
    width: 1200px;
    margin: 0 auto;
    zoom: 1;
    overflow: hidden;
}
.focus-category {
    width: 220px;
    height: 280px;
    float: left;
    position: relative;
    border: 1px solid #e6e6e6;
    border-top: none;
    box-sizing: content-box;
}
.focus-category>dl {
    zoom: 1;
    overflow: hidden;
}
.focus-category>dl>dd {
    width: 50%;
    padding: 15px 0;
    float: left;
    display: block;
    cursor: pointer;
    text-align: left;
}
.focus-category>dl dd:nth-child(3), dd:nth-child(4), dd:nth-child(7), dd:nth-child(8) {
    background-color: #f7f7f7;
}
.focus-category>dl>dd>a>cite {
    font: 14px/1 PingFangSC-Regular, '-apple-system', Simsun;
    white-space: nowrap;
}
.focus-category dd a {
    color: #333;
    display: block;
}
.focus-category em {
    margin: 8px;
    font-size: 24px;
    float: left;
}
.focus-category>dl>dd>a>cite:hover {
    color: #ed4259;
}
.info{
    width: 40px;
    margin-top: 8px;
    float: left;
}
.info>i {
    float: left;
    font-style: normal;
}
.info>b {
    font-size: 12px;
    font-weight: 400;
    float: left;
}

/* 广告 */
.focus-table {
    width: 636px;
    height: 274px;
    margin: 6px 3px 0 8px;
    float: left;
    background-color: dimgrey;
}
.pic>ul>li>img {
    width: 635px;
    height: 273px;
}
.focus-table #focus-table {
    width: 100%;
    height: 273px;
}
/* 公告 */
.focus-notice {
    width: 320px;
    height: 274px;
    zoom: 1;
    margin: 6px 0 0 6px;
    border-top: none;
    border-right: #e5e5e5 solid 1px;
    border-left: #e5e5e5 solid 1px;
    border-bottom: #e5e5e5 solid 1px;
    overflow: hidden;
    float: left;
}
.focus-notice>h4 {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    color: #3e3d43;
}
.focus-notice>div {
    width: 100%;
    margin-top: 12px;
    padding: 12px 8px;
    overflow: hidden;
}
.focus-notice>div>p {
    width: calc(100% - 16px);
    height: calc(100% - 18px);
    font-size: 13px;
    line-height: 1.5;
    color: #3e3d43;
}

/* 推荐 */
.main-rec-wrapper{
    width: 100%;
    zoom: 1;
    overflow: hidden;
}
.main-rec-wrapper>div {
    width: 1200px;
    margin: 0 auto;
    padding: 3px 0;
    zoom: 1;
    overflow: hidden;
    /*background-color: #ef6c7a;*/
}
/* 好书推荐 */
.main-hot {
    width: 210px;
    margin-top: 36px;
    padding: 6px 6px 0;
    zoom: 1;
    float: left;
    overflow: hidden;
}
.main-hot>h3 {
    padding-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
}
.main-hot>div {
    padding: 36px 0 8px;
    text-align: center;
}
.main-hot>div>a>img {
    width: 80px;
    height: 120px;
}
.h-info {
    padding: 6px 6px 0;
    position: relative;
    color: #3e3d43;
    text-align: center;
    /*background-color: #6dc8e2;*/
}
.h-info>span {
    padding: 4px;
    font-size: 14px;
    overflow: hidden;
    border: #bf2c24 1px solid;
}
.h-info>p {
    width: 100%;
    height: 130px;
    font-size: 12px;
    margin-top: 16px;
    text-align: left;
    overflow: hidden;
}
/* 分类推荐 */
.main-category {
    width: calc(100% - 230px);
    margin-left: 4px;
    zoom: 1;
    float: left;
    position: relative;
    overflow: hidden;
}
.main-category>div {
    width: 32%;
    margin: 2px 4px;
    float: left;
}
.main-category>div>dl>dd>div>a:hover{
    color: #ed4259;
}
.main-category>div>dl>dd>div>a>span{
    zoom: 1;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.8;
    overflow: hidden;
}
.main-category>div>dl>dd>div>a>span>b{
    width: 140px;
    float: left;
    overflow: hidden;
}
.main-category>div>dl>dd>div>a>span>i{
    width: 136px;
    margin-right: 34px;
    float: right;
    text-align: right;
    font-style: normal;
    overflow: hidden;
}
.main-category>div>h4{
    margin-bottom: 12px;
    padding: 8px 0;
    font-size: 16px;
    font-weight: 500;
    color: #1a1a1a;
    box-sizing: content-box;
    border-bottom: 1px solid #666;
}
/*.main-category>div>hr{*/
    /*width: 90%;*/
    /*margin-bottom: 10px;*/
    /*!*border-color: #3f3f3f;*!*/
/*}*/
.main-category>div>dl>dd>a>div{
    padding: 0 6px 6px 0;
    zoom: 1;
    overflow: hidden;
}
.main-img {
    width: 60px;
    height: 90px;
    float: left;
    overflow: hidden;
}
.main-img>img {
    width: 60px;
    height: 90px;
    transition: all 0.4s;
}
.main-img>img:hover {
    transform:scale(1.16,1.16);
}
.main-info {
    font-size: 13px;
    zoom: 1;
    font-style: normal;
    overflow: hidden;
}
.main-info>span {
    width: 106px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
}
.main-info-n:hover{
    color: #ed4259;
}
.main-info-a {
    float: right;
    margin-right: 24px;
}
.main-info-n {
    margin-left: 6px;
    float: left;
}
.main-info>p {
    width: 218px;
    height: 66px;
    padding: 5px 6px;
    float: left;
    overflow: hidden;
}

/* 页脚信息 */
.footer {
    width: 100%;
    padding: 28px 0;
    zoom: 1;
    color: #262626;
    text-align: center;
    font-size: 14px;
    line-height: 2.1;
    background-color: #eaeaea;
    overflow: hidden;
}
.footer>div {
    width: 1200px;
    margin: 0 auto;
}
.footer>div>div {
    width: 100%;
}
.footer>div>div>p {
    width: 100%;
}
